# CTEs

A Common Table Expression (CTE) is a great tool for processing an iterative function against data, then reading from the result set for any integration.

In [5]:
-- Here is the query as a subquery:

GO

SELECT cat.ProductCategory
      ,count(*) as 'ProductCount'
FROM (SELECT (CASE
	     WHEN [UnitPrice] < 13.25 THEN 'low'
		 WHEN [UnitPrice] <= 33.25 THEN 'med'
		 WHEN [UnitPrice] < 63.25 THEN 'high'
		 ELSE 'uol'
	   END) as 'ProductCategory'
      FROM [dbo].[Products]) as cat
GROUP BY cat.ProductCategory
;
GO

ProductCategory,ProductCount
high,15
low,19
med,39
uol,4

In [7]:
-- The same result set, but as a CTE

USE Northwind_2023;
GO

WITH Cat_CTE as
(
  SELECT (CASE
	      WHEN [UnitPrice] < 13.25 THEN 'low'
		  WHEN [UnitPrice] <= 33.25 THEN 'med'
		  WHEN [UnitPrice] < 63.25 THEN 'high'
		   ELSE 'uol'
	      END) as 'ProductCategory'
  FROM [dbo].[Products]
)

SELECT Cat_CTE.ProductCategory 
      ,count(*) as 'ProductCount'
FROM Cat_CTE
GROUP BY Cat_CTE.ProductCategory 
;
GO

ProductCategory,ProductCount
high,15
low,19
med,39
uol,4

In [8]:
-- Another example generated by Bing Chat
USE Northwind_2023;
GO

WITH Ord_CTE AS
(
    SELECT 
        c.CustomerID, 
        c.CompanyName, 
        COUNT(o.OrderID) AS TotalOrders
    FROM Customers c
		INNER JOIN Orders o 
		ON c.CustomerID = o.CustomerID
    GROUP BY 
        c.CustomerID, c.CompanyName
)
SELECT TOP 4 WITH TIES * FROM Ord_CTE
ORDER BY TotalOrders DESC;

GO

CustomerID,CompanyName,TotalOrders
SAVEA,Save-a-lot Markets,31
ERNSH,Ernst Handel,30
QUICK,QUICK-Stop,28
FOLKO,Folk och fä HB,19
HUNGO,Hungry Owl All-Night Grocers,19